In [134]:
import numpy as np
import pandas as pd
import datetime

In [135]:
data = pd.read_csv("C:\\Users\omerl\OneDrive\Desktop\iml_repo\IML.HUJI\datasets\\agoda_cancellation_train.csv",engine='python')
df = pd.DataFrame(data)

In [136]:
# cleaning the data remove missing values and duplicates
df['cancellation_datetime'] = df['cancellation_datetime'].fillna('2022-02-01')
df['cancellation_datetime'] = pd.to_datetime(df['cancellation_datetime'])
filtered_df = df.loc[(df['cancellation_datetime'] <= '2018-09-29') | (df['cancellation_datetime'] == '2022-02-01')]
filtered_df['booking_datetime'] = filtered_df['booking_datetime'].apply(pd.to_datetime)
filtered_df['is_cancelled'] = (filtered_df['cancellation_datetime'] - filtered_df['booking_datetime']).dt.days
filtered_df['is_cancelled'] = filtered_df['is_cancelled'].apply(lambda x: 1 if x<=44 and x >=35 else 0)

           h_booking_id     booking_datetime         checkin_date  \
0  -9223194055642672935  2018-06-28 21:15:00  2018-07-09 00:00:00
1  -9222713784330706132  2018-08-10 22:31:00  2018-08-16 00:00:00
2  -9222411208325704942  2018-09-14 07:55:00  2018-09-14 00:00:00
3  -9222220845872895471  2018-06-25 07:33:00  2018-07-02 00:00:00
4  -9221127186162682116  2018-07-23 10:06:00  2018-08-09 00:00:00
5  -9220467519202693449  2018-05-03 09:25:00  2018-08-21 00:00:00
6  -9220037355644368516  2018-08-15 02:10:00  2018-08-18 00:00:00
7  -9219746746155641867  2018-07-11 20:41:00  2018-08-03 00:00:00
8  -9219730436418354424  2018-04-06 21:19:00  2018-07-22 00:00:00
9  -9219588530948048517  2018-07-28 05:39:00  2018-07-28 00:00:00
10 -9219312947204772441  2018-06-05 11:32:00  2018-07-02 00:00:00
11 -9219139934044441698  2018-06-24 16:06:00  2018-08-30 00:00:00
12 -9218868380930029329  2018-08-11 01:17:00  2018-08-12 00:00:00
13 -9218066482823847922  2018-07-10 12:51:00  2018-07-10 00:00:00
14 -9216735553538001319  2018-08-26 20:54:00  2018-08-28 00:00:00
15 -9216570381803371740  2018-05-20 11:12:00  2018-08-04 00:00:00
16 -9216487696802692260  2018-08-28 22:40:00  2018-09-29 00:00:00
17 -9216351780612413907  2018-07-16 11:10:00  2018-07-25 00:00:00
18 -9216008413236595528  2018-08-03 17:16:00  2018-08-07 00:00:00
19 -9215494322833174318  2018-05-27 17:15:00  2018-08-20 00:00:00
20 -9215299516223477771  2018-08-08 19:41:00  2018-08-17 00:00:00
21 -9215127336295987371  2018-07-02 16:37:00  2018-07-02 00:00:00
22 -9215072291520077707  2018-05-31 22:43:00  2018-09-21 00:00:00
23 -9214893704964954564  2018-07-25 06:38:00  2018-09-28 00:00:00
24 -9214481758831307254  2018-06-15 09:28:00  2018-07-28 00:00:00
25 -9213639002373208719  2018-09-09 00:59:00  2018-09-13 00:00:00
26 -9213376226664300694  2018-07-25 20:18:00  2018-07-26 00:00:00
27 -9212400017480651658  2018-07-10 20:40:00  2018-08-17 00:00:00
28 -9212352324713059731  2018-06-30 16:28:00  2018-07-01 00:00:00
29 -9212040371750432979  2018-07-10 16:46:00  2018-07-10 00:00:00

          checkout_date  hotel_id hotel_country_code      hotel_live_date  \
0   2018-07-13 00:00:00      6452                 HK  2009-06-28 02:02:00
1   2018-08-17 00:00:00     47729                 CN  2011-06-07 11:52:00
2   2018-09-15 00:00:00    780431                 KR  2014-11-20 15:43:00
3   2018-07-03 00:00:00    291365                 JP  2011-11-21 12:27:00
4   2018-08-10 00:00:00    479046                 TH  2013-06-06 10:04:00
5   2018-08-23 00:00:00     59272                 PF  2014-01-16 08:03:00
6   2018-08-19 00:00:00    400966                 TH  2012-10-15 11:45:00
7   2018-08-06 00:00:00     69287                 JP  2009-11-04 08:07:00
8   2018-07-23 00:00:00   2973895                 ID  2017-10-12 10:58:00
9   2018-07-29 00:00:00   1120617                 TH  2015-11-13 16:18:00
10  2018-07-07 00:00:00     44165                 US  2012-03-15 05:02:00
11  2018-09-02 00:00:00      4844                 HK  2012-12-19 10:04:00
12  2018-08-14 00:00:00    134457                 DE  2009-02-06 16:42:00
13  2018-07-11 00:00:00    961883                 TH  2015-07-03 16:14:00
14  2018-08-31 00:00:00   1632361                 JP  2016-12-02 06:55:00
15  2018-08-06 00:00:00   1105184                 TH  2015-10-08 16:21:00
16  2018-09-30 00:00:00   2559209                 JP  2017-07-21 18:32:00
17  2018-07-27 00:00:00     59737                 LK  2009-06-28 02:02:00
18  2018-08-09 00:00:00   1105091                 SG  2015-12-21 13:22:00
19  2018-08-21 00:00:00     11934                 NZ  2009-06-28 02:02:00
20  2018-08-19 00:00:00   4204326                 TH  2018-01-17 08:49:00
21  2018-07-03 00:00:00   3007591                 VN  2017-10-25 11:48:00
22  2018-09-22 00:00:00    108170                 TH  2009-06-28 02:02:00
23  2018-09-29 00:00:00   2416356                 MY  2017-06-26 05:33:00
24  2018-07-31 00:00:00   4462454                 VN  2018-02-12 16:15:00
25  2018-09-14 00:00:00   1166250                 TW  2016-02-26 14:50:00
26  2018-07-27 00:00:00   3092077                 TH  2017-11-02 13:24:00
27  2018-08-18 00:00:00   1202160                 MY  2016-08-25 17:43:00
28  2018-07-02 00:00:00    872743                 JP  2015-04-01 07:05:00
29  2018-07-11 00:00:00    968829                 MY  2015-07-10 13:58:00

    hotel_star_rating        accommadation_type_name charge_option  ...  \
0                 4.0                          Hotel       Pay Now  ...
1                 4.0                          Hotel     Pay Later  ...
2                 4.0                          Hotel       Pay Now  ...
3                 3.0                          Hotel     Pay Later  ...
4                 3.0                         Resort     Pay Later  ...
5                 3.0                         Resort     Pay Later  ...
6                 3.5             Serviced Apartment       Pay Now  ...
7                 3.5                          Hotel     Pay Later  ...
8                 4.0                          Hotel       Pay Now  ...
9                 3.0                          Hotel       Pay Now  ...
10                2.5                          Hotel       Pay Now  ...
11                4.0                          Hotel       Pay Now  ...
12                3.0  Guest House / Bed & Breakfast       Pay Now  ...
13                3.0                         Resort       Pay Now  ...
14                4.0                          Hotel       Pay Now  ...
15                3.0                          Hotel     Pay Later  ...
16                3.0                          Hotel       Pay Now  ...
17                5.0                          Hotel       Pay Now  ...
18                4.0                          Hotel       Pay Now  ...
19                4.0                          Hotel     Pay Later  ...
20                5.0                          Hotel     Pay Later  ...
21                2.0                          Hotel       Pay Now  ...
22                3.0                          Hotel     Pay Later  ...
23                3.0                          Hotel       Pay Now  ...
24                5.0                          Hotel       Pay Now  ...
25                3.0                          Hotel       Pay Now  ...
26                4.0                          Hotel       Pay Now  ...
27                3.0                          Hotel       Pay Now  ...
28                5.0                          Hotel       Pay Now  ...
29                0.0                          Hotel       Pay Now  ...

    request_highfloor request_largebed  request_twinbeds request_airport  \
0                 NaN              NaN               NaN             NaN
1                 0.0              0.0               1.0             0.0
2                 0.0              0.0               0.0             0.0
3                 0.0              1.0               0.0             0.0
4                 0.0              1.0               0.0             0.0
5                 NaN              NaN               NaN             NaN
6                 NaN              NaN               NaN             NaN
7                 0.0              1.0               0.0             0.0
8                 NaN              NaN               NaN             NaN
9                 0.0              0.0               0.0             0.0
10                NaN              NaN               NaN             NaN
11                NaN              NaN               NaN             NaN
12                0.0              0.0               1.0             0.0
13                0.0              0.0               1.0             0.0
14                0.0              0.0               0.0             0.0
15                NaN              NaN               NaN             NaN
16                0.0              0.0               1.0             0.0
17                NaN              NaN               NaN             NaN
18                0.0              0.0               1.0             0.0
19                0.0              0.0               1.0             0.0
20                0.0              1.0               0.0             0.0
21                NaN              NaN               NaN             NaN
22                1.0              1.0               0.0             0.0
23                NaN              NaN               NaN             NaN
24                NaN              NaN               NaN             NaN
25                NaN              NaN               NaN             NaN
26                NaN              NaN               NaN             NaN
27                0.0              0.0               0.0             0.0
28                0.0              0.0               0.0             0.0
29                NaN              NaN               NaN             NaN

    request_earlycheckin  cancellation_datetime  hotel_area_code  \
0                    NaN             2022-02-01             1192
1                    0.0             2022-02-01             5617
2                    0.0             2022-02-01             3819
3                    0.0             2022-02-01             2379
4                    0.0             2018-07-23             1506
5                    NaN             2018-05-03             3146
6                    NaN             2022-02-01             1703
7                    0.0             2018-07-23             3959
8                    NaN             2022-02-01              744
9                    0.0             2022-02-01             2663
10                   NaN             2022-02-01             2378
11                   NaN             2022-02-01             2528
12                   0.0             2022-02-01             1622
13                   0.0             2018-07-11             3990
14                   0.0             2022-02-01              302
15                   NaN             2018-06-06             2824
16                   0.0             2018-08-28             5092
17                   NaN             2022-02-01              784
18                   0.0             2022-02-01             1646
19                   0.0             2018-07-13             3450
20                   0.0             2022-02-01             5583
21                   NaN             2022-02-01             5322
22                   0.0             2018-06-19              662
23                   NaN             2022-02-01             2736
24                   NaN             2022-02-01             3462
25                   NaN             2022-02-01             3911
26                   NaN             2022-02-01             3823
27                   0.0             2022-02-01             2075
28                   0.0             2022-02-01              104
29                   NaN             2022-02-01             2110

    hotel_brand_code hotel_chain_code hotel_city_code
0                NaN              NaN             142
1              902.0            600.0            1273
2                NaN              NaN            2799
3              466.0            236.0            1448
4                NaN              NaN             616
5                NaN              NaN            1309
6                NaN              NaN            2477
7                NaN              NaN            2249
8               10.0            297.0              88
9                NaN              NaN            2477
10               NaN              NaN            1682
11             273.0            592.0             142
12               NaN              NaN             646
13               NaN              NaN            2104
14               NaN              NaN            2249
15               NaN              NaN            2337
16             366.0            618.0            1403
17               NaN              NaN            1258
18             508.0            678.0             437
19             159.0            232.0            2158
20               NaN              NaN            2477
21               NaN              NaN            1276
22             442.0            600.0             447
23               NaN              NaN            2069
24               NaN              NaN            1462
25               NaN              NaN             868
26               NaN              NaN            2477
27               NaN              NaN            1982
28             856.0             86.0            2187
29               NaN              NaN            2737

[30 rows x 39 columns]